<div class="toast-container">
    <div *ngFor="let t of toasts" class="toast-item" [ngClass]="t.type">
        <div class="toast-icon">
            <span *ngIf="t.type === 'success'">✓</span>
            <span *ngIf="t.type === 'error'">✕</span>
            <span *ngIf="t.type === 'info'">i</span>
            <span *ngIf="t.type === 'warning'">!</span>
        </div>
        <p class="toast-message">{{ t.message }}</p>
        <button class="toast-close" (click)="remove(t.id)">&times;</button>
    </div>
</div>
